.record-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px 0px 50px 0px;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.record-display {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #EAFFF9;
    width: 90%;
    height: 90px;
    border-radius: 20px;
}

.record-text {
    color: #072568;
}

.record-title {
    font-size: medium;
    font-weight: bold;
}

.record-description {
    font-size: small;
    padding-top: 5px;
}

.record-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;;
    margin: auto 0px auto auto;
    color: white;
    background-color: #5AD5CC;
    width: 160px;
    height: 40px;
    border-radius: 20px;
}