@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #f8f8f1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
}

@layer base {
  * {
    @apply break-words;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent border border-black/10;
  }
}
.dropdown {
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  padding: 14px;
}
.dropdown::after {
  content: "▼";
  font-size: 1rem;
  right: 10px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  pointer-events: none; /* กันไม่ให้คลิกโดน */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  min-height: 100vh;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin: 4px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #76d8b1;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5fc49f;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #76d8b1 #f1f1f1;
}
