.top-profile {
    text-align: left;
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  color: #072568;
  margin-bottom: 5px;
}

.Subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #2C61CB;
}