.reserve-management {
    padding: 20px;
}

.header-container {
    width: 1250px;
    height: 78px;
    margin: 0 auto;
    background-color: #F7F5E9;

    display: flex;
    align-items: center;
}

.header-container h1 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-left: 30px;
}

.type-container {
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #F3F1E0;
    border: 1px solid #D8D5BD;
    

    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px; 
}

.reserve-container {
    width: 1250px;
    height: 492px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #FDFDFA;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reserve-item {
    padding: 20px 70px;
    margin: 0px auto;
    width: 1200px;
    height: 98px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px; 
    column-gap: 80px;
}

.detail-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.detail-group .label {
    font-size: 13px;
    margin-left: 10px;
}

.detail-group .value {
    font-size: 24px;
    font-weight: bold;
    color: #3AB795;
}

.detail-group .service-Doctor {
    background-color: #DCEDFF;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 5px 40px;
    border-radius: 20px;
}

.detail-group .service-Caretaker {
    background-color: #B3EDBF;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 5px 40px;
    border-radius: 20px;
}

.detail-group .status-Ongoing {
    background-color: #FFD978;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 5px 40px;
    border-radius: 20px;
}

.detail-group .status-Wait {
    background-color: #F1EED9;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 5px 40px;
    border-radius: 20px;
}

.detail-group .status-Finished {
    background-color: #61C5AA;
    font-size: 16px;
    font-weight: bold;  
    color: #000000;

    padding: 5px 40px;
    border-radius: 20px;
}
